mixin productMedia(mediaItem, size)
  if !size
    - var size = "200x"

  case mediaItem.type
    when 'image-external'
      img(src=mediaItem.reference alt=mediaItem.title)&attributes(attributes)
    when 'magento-product-image'
      img(src="http://local.magento/pub/media/catalog/product/"+mediaItem.reference alt=mediaItem.title)&attributes(attributes)
    when 'csvCommerceReference'
      img(src=url("csvcommerce.image.get", {
          "size": size,
          "filename": mediaItem.reference
      }) alt=mediaItem.title)&attributes(attributes)

