
mixin price(product)
  case product.type()
    when 'simple'
      - var baseData = product.baseData
      - var saleableProductData = product.saleableData
    when 'configurable'
      - var baseData = product.baseData
      - var saleableProductData = false
    when 'configurable_with_activevariant'
      - var baseData = product.activeVariant.baseData
      - var saleableProductData = product.activeVariant.saleableData
    default
      - throw 'No proper productType given'

  if saleableProductData
    - var priceInfo = saleableProductData.activePrice
    if priceInfo.isDiscounted
      span.mr-1
        del=commercePriceFormat(priceInfo.default)
      span=commercePriceFormat(priceInfo.discounted)
    else
      span=commercePriceFormat(priceInfo.default)
  else
    span
      p Select a Variant to see the price

mixin teaserPrice(product)
  - var priceInfo = product.teaser.teaserPrice
  if priceInfo.isDiscounted
    span.mr-1
      del=commercePriceFormat(priceInfo.default)
    span=commercePriceFormat(priceInfo.discounted)
  else
    span=commercePriceFormat(priceInfo.default)